<html>
    <head>
        <title>Welcom to ansible</title>
    </head>
    <body>
        <h1>nginx, configured by Ansiblee</h1>
        <p>If you can see this, aAnsible successfully intalled nginx.</p>

        <p>{{ ansible_managed }}</p>
    </body>
</html>
